// .stack {
//   composes: flexColumn from "@/styles/utils.module.scss";
//   gap: 1em;
//   padding: var(--space-sm);
// }

.stack {
  composes: flexColumn from "@/styles/utils.module.scss";
  gap: var(--body);
  padding: var(--space-sm) 0;

  // > * + * {
  //   margin-top: var(--stack-space, 1em);
  // }
}

.subTitle {
  font-size: var(--small-heading2);
  font-weight: 700;
}

.title {
  margin-top: calc(var(--body) * -1 + var(--body) * 0.2);
}

.publishDate {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--gray-50);
  font-size: var(--small-heading3);
}
